@model GymClass_v0._2.ViewModel.Members

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Members</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfregistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfregistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-info">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button>
     <button class="btn btn-success">@Html.ActionLink("Back to List", "Index")</button>
</p>
